{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-no-unknown": [true, {
            "ignoreAtRules": [
                "extends",
                "tailwind",
                "apply",
                "variants",
                "responsive",
                "screen"
            ]
        }],
        "block-no-empty": true,
        "selector-class-pattern": "[A-Za-z]+",    
        "unit-allowed-list": ["em", "rem", "s", "vh", "px", "%", "vmin"],
        "hue-degree-notation": "number",
        "string-quotes": "single",
        "declaration-block-trailing-semicolon": "always",
        "no-descending-specificity": true,
        "keyframe-declaration-no-important": true,
        "comment-whitespace-inside": "never"
    }
}