.App {
  text-align: center;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-size: calc(10px + 2vmin);
  color: white;
  background: hsl(261 42% 46%);
  border-radius: 6px;
  border: 0;
  padding: 5px;
}

button:hover {
  background: hsl(261 37% 38%);
}

p {
  margin: 0 0 15px;
}

.text {
  color: hsl(0 0% 12%);
  font-size: 2rem;
}
