@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Buttons */
@layer components {
  .title {
    @apply text-xl font-bold text-gray-700;
  }

  .subtitle {
    @apply text-gray-500;
  }

  .subtitle-dark {
    @apply text-gray-700;
  }

  .label {
    @apply font-medium text-gray-700;
  }

  .btn {
    @apply py-2 px-4 text-gray-600 font-semibold hover:bg-gray-100 rounded-md;
  }

  .btn-picknsend {
    @apply bg-picknsend hover:bg-picknsend-dark px-4 py-2 text-white text-sm font-medium shadow rounded-md;
  }

  .btn-success {
    @apply bg-success hover:bg-success-dark text-white shadow;
  }

  .btn-text-success {
    @apply bg-transparent hover:bg-success-surface text-success shadow-none;
  }

  .btn-warning {
    @apply bg-warning hover:bg-warning-dark text-white shadow;
  }

  .btn-text-warning {
    @apply bg-transparent hover:bg-warning-surface text-warning shadow-none;
  }

  .btn-error {
    @apply bg-error hover:bg-error-dark text-white shadow;
  }

  .btn-text-error {
    @apply bg-transparent hover:bg-error-surface text-error shadow-none;
  }
}

@layer components {
  .surface {
    @apply bg-white p-6 rounded-md shadow;
  }

  .bg-modal {
    @apply flex z-10 justify-center items-center fixed top-0 left-0 w-full h-full overflow-auto bg-black bg-opacity-30 py-4 px-4;
  }

  .input-picknsend {
    @apply border-0 rounded-md bg-gray-100 focus:border-picknsend focus:ring focus:ring-picknsend-light focus:ring-opacity-50;
  }

  .lds-ellipsis {
    @apply inline-block relative w-20 h-20;
  }

  .lds-ellipsis div {
    @apply absolute top-8 w-3 h-3 rounded-full bg-picknsend  anim-timing-function;
  }

  .lds-ellipsis div:nth-child(1) {
    @apply left-2 anim-ellipsis-1;
  }

  .lds-ellipsis div:nth-child(2) {
    @apply left-2 anim-ellipsis-2;
  }

  .lds-ellipsis div:nth-child(3) {
    @apply left-8 anim-ellipsis-3;
  }

  .lds-ellipsis div:nth-child(4) {
    @apply left-14 anim-ellipsis-4;
  }
}

/* Text */
@layer utilities {
  .text-logo-xl {
    font-size: 5rem;
  }

  .text-logo-lg {
    font-size: 3rem;
  }

  .text-logo-sm {
    font-size: 1.3rem;
  }

  .subtitle-lg {
    font-size: 1.7rem;
  }
}

@layer utilities {
  .center-fixed {
    left: 50%;
    transform: translateX(-50%);
  }

  .w-104 {
    width: 480px;
  }

  .min-h-96 {
    min-height: 384px;
  }

  .max-h-98 {
    max-height: 512px;
  }

  .rotate-ps-45 {
    transform: rotate(45deg);
  }

  .-rotate-ps-45 {
    transform: rotate(-45deg);
  }

  .gradient-picknsend {
    background: linear-gradient(90deg, rgba(148, 213, 0, 100%) 35%, rgba(194, 255, 48, 100%) 100%);
  }

  .anim-ellipsis-1 {
    animation: lds-ellipsis1 0.6s infinite;
  }

  .anim-ellipsis-2 {
    animation: lds-ellipsis2 0.6s infinite;
  }

  .anim-ellipsis-3 {
    animation: lds-ellipsis2 0.6s infinite;
  }

  .anim-ellipsis-4 {
    animation: lds-ellipsis3 0.6s infinite;
  }

  .anim-timing-function {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
