@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Buttons */
@layer components {
  .btn {
    @apply py-2 px-4 text-gray-600 hover:bg-gray-100 rounded-md;
  }

  .btn-error {
    @apply bg-error hover:bg-error-dark text-white shadow;
  }

  .btn-picknsend {
    @apply bg-picknsend hover:bg-picknsend-dark px-4 py-2 text-white text-sm font-medium shadow rounded-md;
  }
}

@layer components {
  .surface {
    @apply bg-white p-4 rounded-md shadow;
  }

  .bg-modal {
    @apply flex z-10 justify-center items-center fixed top-0 left-0 w-full h-full overflow-auto bg-black bg-opacity-30 px-4;
  }

  .input-picknsend {
    @apply border-0 rounded-md focus:border-picknsend focus:ring focus:ring-picknsend-light focus:ring-opacity-50;
  }

  .lds-ellipsis {
    @apply inline-block relative w-20 h-20;
  }

  .lds-ellipsis div {
    @apply absolute top-8 w-3 h-3 rounded-full bg-picknsend  anim-timing-function;
  }

  .lds-ellipsis div:nth-child(1) {
    @apply left-2 anim-ellipsis-1;
  }

  .lds-ellipsis div:nth-child(2) {
    @apply left-2 anim-ellipsis-2;
  }

  .lds-ellipsis div:nth-child(3) {
    @apply left-8 anim-ellipsis-3;
  }

  .lds-ellipsis div:nth-child(4) {
    @apply left-14 anim-ellipsis-4;
  }
}

@layer utilities {
  .center-fixed {
    left: 50%;
    transform: translateX(-50%);
  }

  .w-104 {
    width: 480px;
  }

  .anim-ellipsis-1 {
    animation: lds-ellipsis1 0.6s infinite;
  }

  .anim-ellipsis-2 {
    animation: lds-ellipsis2 0.6s infinite;
  }

  .anim-ellipsis-3 {
    animation: lds-ellipsis2 0.6s infinite;
  }

  .anim-ellipsis-4 {
    animation: lds-ellipsis3 0.6s infinite;
  }

  .anim-timing-function {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
